In [1]:
import json
out_data = {}

In [2]:
with open("anonymized_and_cleaned_votes.json") as f:
    data = json.load(f)

In [3]:
for player_vote in data:
    tierlist = player_vote["votes"]
    for vote in tierlist:
        voted = vote["choiceUsername"]
        if voted not in out_data:
            out_data[voted] = 0
        out_data[voted] += vote["weight"]

In [4]:
import pandas
pandas.set_option('display.max_rows', None)

df = (
    pandas.DataFrame(out_data.items(), columns=["username", "points"])
    .sort_values("points", ascending=False)
    .reset_index(drop=True)
)

# only the first 10 values
top10 = df.head(10)
top10.index += 1

df.index += 1

# Top 10

In [5]:
top10

           username  points
1              Arge  361.50
2         kiirochii  317.75
3   TheITGovernment  256.00
4            Jabahh  184.25
5          Arancino  175.50
6          Gigi8974  110.75
7            Rushio   87.25
8   Sakura Nenecchi   85.00
9           Ryuzaki   77.50
10            bgm16   70.50

# Full Leaderboard

In [6]:
df

           username  points
1              Arge  361.50
2         kiirochii  317.75
3   TheITGovernment  256.00
4            Jabahh  184.25
5          Arancino  175.50
6          Gigi8974  110.75
7            Rushio   87.25
8   Sakura Nenecchi   85.00
9           Ryuzaki   77.50
10            bgm16   70.50
11  TheECGovernment   69.25
12      Jaki 2Milli   48.00
13             Wido   45.75
14              mhh   27.75
15           giulio   21.75
16          Akahito   21.00
17    shadow modico   18.25
18         Spazza17   18.25
19         -Hideki-   17.00
20            dem72   13.75
21           Ganyu1   13.25
22       SHEKERANDO   11.25
23             zekk   10.25
24           Toma 2    8.25
25     Amnesia Haze    7.50
26       Kuromueina    7.25
27          zSmoxKe    6.75
28           Woopak    6.50
29        ReviaKung    6.50
30        Massimo99    6.25
31             -Tao    5.50
32            Lorax    5.00
33        Crazy Hot    4.50
34             Nyuh    4.50
35         MirCap72    4.25
36            Surpy    4.00
37          DT-sama    4.00
38         -Kazuki-    4.00
39          Markden    3.50
40           Rommix    3.50
41          Kyrichu    3.00
42         - Menma-    3.00
43          Chiicco    3.00
44       -Spaghetti    3.00
45          TWEEKER    2.75
46    squartatrice_    2.50
47           Mathia    2.50
48            oxeie    2.00
49    Supermattia03    2.00
50        MinerZeta    2.00
51         Trivago_    1.75
52         Bluecrow    1.50
53   KEKKOKING_0547    1.25
54    dt_gamesplays    1.25
55            Kirin    1.00
56    Bananamagic77    1.00
57       LePalleOsu    1.00
58           Cawolo    1.00
59             Sapo    1.00
60         Proioxis    1.00
61            -Doki    1.00
62      nonsochiama    1.00
63             rhyy    0.75
64            Daren    0.75
65           Zexsch    0.75
66         Skreddle    0.75
67          -Syncro    0.75
68     DJ YOSHITAKA    0.75
69           Vacsei    0.75

### This is for updating the README.md file. 
You can ignore this if you are not interested

In [7]:
import tabulate
top10_table = tabulate.tabulate(top10, headers='keys', tablefmt='github')
full_table = tabulate.tabulate(df, headers='keys', tablefmt='github')

In [8]:
with open("README.md", "wt") as f:
    f.write("# Top 10 players\n")
    f.write(top10_table)
    f.write("\n# Full Players List\n")
    f.write(full_table)